@using Microsoft.AspNet.Identity
@{var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"];}
@if (sessionUser != null)
{
    using (Html.BeginForm("Logoff", "Customer", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="padding-left:50cm">
            <li>
                @Html.ActionLink("Hello " + sessionUser.FirstName + "!", "", "", routeValues: null, htmlAttributes: new { style = "font-weight:bold;" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign Up", "Create", "Customers", routeValues: null, htmlAttributes: new { style = "font-weight:bold;" })</li>
        <li>@Html.ActionLink("Login", "Login", "Customers", routeValues: null, htmlAttributes: new { style = "font-weight:bold;" })</li>
    </ul>
}
