@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

@{
    var branchController = new WatchIt.Controllers.BranchesController();
    var allBranches = (List<WatchIt.Models.Branch>)branchController.GetAllBranches();
    var firstBranch = (WatchIt.Models.Branch)branchController.GetFirstBranch();
    var mainBranchName = firstBranch.BranchName;
    var moreBranches = (List<WatchIt.Models.Branch>)branchController.GetOtherBranches(firstBranch.BranchID);
}
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>

<script>
    function initMap() {
       map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: @firstBranch.BranchLat, lng: @firstBranch.BranchLng },
            zoom: 6
        });

        
    }

    function setMarkers(branches, map) {
        for (var i = 0; i < branches.length; i++) {
            addMarker(branches[i].lat, branches[i].lng, map);
        }      
    }

    function addMarker(lat, lng, map) {
        var marker = new google.maps.Marker({
            position: {lat, lng},
            map: map
        });
    }
</script>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg3KNnR_5OhharmUocQZVJozp14nBf_s8&callback=initMap"></script>

