@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Israel<br />
    Hapodim 4<br />
    <abbr title="Phone">P:</abbr>
    054-9257992
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

        <br /><br /><br />

<form class="form-inline">

    <label for="first-name">First Name</label>
    <input id="first-name" class="form-control" placeholder="First Name" required autofocus>

    <class id="myDiv">
        <label for="first-name" style="padding-left: 25em">First Name</label>
        <input id="first-name" class="form-control" placeholder="First Name" required autofocus>
    </class>

</form>

<div><span style="padding-right: 35em">firstlabel</span>secondlabel</div>

