@{
    ViewBag.Title = "WatchIt";
}

@{
    var HomeController = new WatchIt.Controllers.HomeController();

    var moviesToShow = HomeController.GetHomeMovies();
}

<div class="row" style="height:30px;">

</div>
<div class="row">
    <div class="col-lg-10">
        <canvas id="Title" width="550" height="70"></canvas>
        <div dir="ltr">
            @foreach (var item in moviesToShow)
            {   
                <a href="@Url.Action("Details", "Movies",  new { id = item.ID })"><img src="@item.Image" /></a>
            }
        </div>
    </div>
    <div class="col-lg-2 well">
        We have thousands of movies from Action to Romance and everything in-between.
        Enjoy exclusive deals, movies updates and the newest and best movies.
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function ShowDetails(movieId) {
            $.ajax({
                url: '/Movies/Details',
                type: 'POST',
                dataType: 'Json',
                data: { id: movieId, home: true },
                success: (function (result) {
                    window.location = "/Movies/Details";
                }),
                error: (function (xhr, status) {
                    alert(status);
                })
            });
        }

        var title = document.getElementById("Title");
        var ctx = title.getContext("2d");
        ctx.font = "60px Arial";
        ctx.strokeText("Our Movies", 10, 50);

    </script>
}
