@{
    ViewBag.Title = "WatchIt";
}

@{
    var HomeController = new WatchIt.Controllers.HomeController();
    var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"];
    List<WatchIt.Models.Order> userOrders = new List<WatchIt.Models.Order>();
    int? gender = null;
    int? year = null;
    if (sessionUser != null)
    {
        userOrders = HomeController.GetCustomerOrders(sessionUser.CustomerID);
        if (userOrders != null && userOrders.Count() > 0)
        {
            gender = (int)sessionUser.Gender;
            year = sessionUser.BirthDate.Year;
        }
    }

    var moviesToShow = HomeController.GetMoviesByGender(gender, year);
}

<div class="col-lg-10">
    <br /><br /><br />
    @if (sessionUser != null && userOrders != null && userOrders.Count() > 0)
    {
        <canvas id="CustomerTitle" width="750" height="70"></canvas>
    }
    else
    {
        <canvas id="RegularTitle" width="750" height="70"></canvas>
    }
    <div dir="ltr" class="main">
        @foreach (var item in moviesToShow)
        {
            <a href="@Url.Action("Details", "Movies",  new { id = item.ID })"><img src="@item.Image" /></a>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var Rtitle = document.getElementById("RegularTitle");
        if (Rtitle != null) {
            var Rctx = Rtitle.getContext("2d");
            Rctx.font = "60px Arial";
            Rctx.strokeText("Our Movies", 10, 50);
        }

        var Ctitle = document.getElementById("CustomerTitle");

        if (Ctitle != null) {
            var Cctx = Ctitle.getContext("2d");
            Cctx.font = "60px Arial";
            Cctx.strokeText("Suggested Movies For You", 10, 50);
        }
    </script>
}
