@{
    ViewBag.Title = "Login Page";
}

<h3>@ViewBag.Title</h3>
<h3>@ViewBag.Message</h3>

<form class="form-signin">
    <div class="form-label-group">
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <br>
    <div class="form-label-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <br>
    <button class="btn btn-primary" type="submit" id="CustomerLogin">Login</button>

    <hr class="my-4">
    @Html.ActionLink("Dont have an account? Sign up now!", "Register")
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CustomerLogin').on('click', function () {
                var email    = $('#inputEmail').val();
                var password = $('#inputPassword').val();

                $.ajax({
                    type: "POST",
                    url: '/Login/Login',
                    data: {
                        email:    email,
                        password: password
                    },
                    success: function () {
                        document.location.href = "/";
                        alert("user doesn't existasdasfsagdsgsd!");
                    },
                    error: function () {
                        alert("user doesn't exist!");
                    }
                });
            });
        });

    </script>
}

